/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
Colors used

Text Color (white): #ffffff;
Primary Color (Purple): #291a3b;
Secondary Color (pink): #db0d9a, rgb(219, 13, 154);
Link hover:  #759fc7;
Link visited: #a69de2;
Active link: #6d8bc8;
-site works on:
 chrome for mac and windows
 firefox for mac and windows
 safari for mac
 edge for windows
 opera for mac and windows
-fixed color support for ie11 on windows - fallbacks used
*/
:root {
	--primary-color: #291a3b;
	--secondary-color: #db0d9a;
	--tertiary-color: #f5f2f2;
	--link-hover: #c25da3;
	--link-visited: #ff8ff8;
	--active-link: #ab6dc8;
	--dark-gray: #2b2b2b;
	--font-family-primary: 'Montserrat', sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #291a3b;
	background-color: var(--primary-color);
	font-family: 'Montserrat', sans-serif;
	font-family: var(--font-family-primary);
	font-weight: 400;
	font-size: 16px;
}

h1 {
	font-size: 30px;
	font-weight: 600;
}

h1,
h2,
p {
	color: #f5f2f2;
	color: var(--tertiary-color);
}

p {
	line-height: 2.5em;
}

textarea {
	border-radius: 2px;
}

a {
	color: #db0d9a;
	color: var(--secondary-color);
}

a:visited {
	color: #ba8fff;
	color: var(--link-visited);
}

a:hover,
a:focus {
	text-decoration: none;
	color: #c25da3;
	color: var(--link-hover);
}

a:active {
	color: #ab6dc8;
	color: var(--active-link);
}

button {
	border: none;
	font-family: var(--font-family-primary);
	background-color: var(--secondary-color);
	color: var(--tertiary-color);
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus {
	cursor: pointer;
	opacity: 0.8;
}

.navigation-list__item--active a {
	text-decoration: none;
}

.profile__portrait {
	float: left;
	width: 250px;
	margin-right: 40px;
	border-radius: 50%;
	border: 5px solid var(--secondary-color);
}

.profile {
	max-width: 700px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	margin-bottom: auto;
}

.contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
	padding: 10px;
	color: white;
	line-height: 2em;
}

#contact-header {
	padding: 10px;
	border: 10px 0;
}

.address .number-email {
	margin: auto;
	padding: 10px;
}

.page-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 20px;
}

.page-header__item {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 200px;
	flex: 0 1 200px;
}

.page-header__item:last-child {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.grid__item {
	display: inline-block;
	width: 33%;
}

.page-footer {
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	margin-top: 15em;
	width: 100%;
	height: 2em;
}

@supports (display: grid) {
	.grid {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 10px 1fr 10px 1fr;
		grid-template-columns: repeat(3, 1fr);
		-ms-grid-rows: 1fr 10px 1fr 10px 1fr;
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 10px;
		margin: 10px;
		padding: 10px;
		border: 5px;
	}

	.grid>*:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}

	.grid>*:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}

	.grid>*:nth-child(3) {
		-ms-grid-row: 1;
		-ms-grid-column: 5;
	}

	.grid>*:nth-child(4) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}

	.grid>*:nth-child(5) {
		-ms-grid-row: 3;
		-ms-grid-column: 3;
	}

	.grid>*:nth-child(6) {
		-ms-grid-row: 3;
		-ms-grid-column: 5;
	}

	.grid>*:nth-child(7) {
		-ms-grid-row: 5;
		-ms-grid-column: 1;
	}

	.grid>*:nth-child(8) {
		-ms-grid-row: 5;
		-ms-grid-column: 3;
	}

	.grid>*:nth-child(9) {
		-ms-grid-row: 5;
		-ms-grid-column: 5;
	}

	.grid div {
		background-size: cover;
		background-attachment: fixed;
	}

	.grid__item1 {
		background: url(../img/19742.jpg) pink;
		color: #f5f2f2;
		color: var(--tertiary-color);
		width: auto;
		margin: 10px;
		padding: 20px;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-transition: 0.2s opacity;
		-o-transition: 0.2s opacity;
		transition: 0.2s opacity;
	}


	.grid__item:last-child {
		-ms-grid-column: 3;
		grid-column: 3 / 3;
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		grid-row: 1 / 3;
	}

	.grid__item:hover,
	.grid__item:focus {
		cursor: pointer;
		opacity: 0.7;
	}
}

button,
.button {
	border: none;
	display: inline-block;
	font-family: var(--font-family-primary);
	margin: 0 auto;
	background-color: #db0d9a;
	color: #f5f2f2;
	color: var(--tertiary-color);
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: 0.2s opacity;
	-o-transition: 0.2s opacity;
	transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
	cursor: pointer;
	opacity: 0.8;
}

table {
	padding: 2em;
	font-family: inherit;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.social__media a {
	text-decoration: none;
}

.social__media a:hover {
	text-decoration: none;
}

#pacman {
	max-width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50px;
	flex: 0 1 50px;
	padding: 2em;
	margin-left: auto;
	margin-right: auto;

}

@-webkit-keyframes color-change {
	0% {
		fill: #edc655;
	}

	50% {
		fill: #fcffad;
	}

	100% {
		fill: #f76414;
	}
}

@keyframes color-change {
	0% {
		fill: #edc655;
	}

	50% {
		fill: #fcffad;
	}

	100% {
		fill: #f76414;
	}
}

@-webkit-keyframes cloud-move {
	from {
		-webkit-transform: translate(0, 50px);
		transform: translate(0, 50px);
	}

	to {
		-webkit-transform: translate(200px, 50px);
		transform: translate(200px, 50px);
	}
}

@keyframes cloud-move {
	from {
		-webkit-transform: translate(0, 50px);
		transform: translate(0, 50px);
	}

	to {
		-webkit-transform: translate(200px, 50px);
		transform: translate(200px, 50px);
	}
}

@-webkit-keyframes cloud-move-reverse {
	from {
		-webkit-transform: translate(446px, 48px);
		transform: translate(446px, 48px);
	}

	to {
		-webkit-transform: translate(100px, 48px);
		transform: translate(100px, 48px);
	}
}

@keyframes cloud-move-reverse {
	from {
		-webkit-transform: translate(446px, 48px);
		transform: translate(446px, 48px);
	}

	to {
		-webkit-transform: translate(100px, 48px);
		transform: translate(100px, 48px);
	}
}

.cloud-front {
	-webkit-animation: 30s cloud-move infinite alternate linear;
	animation: 30s cloud-move infinite alternate linear;
}

.sun {
	-webkit-animation: 4s color-change infinite alternate linear;
	animation: 4s color-change infinite alternate linear;
}

.cloud-back {
	-webkit-animation: 34s cloud-move-reverse infinite alternate linear;
	animation: 34s cloud-move-reverse infinite alternate linear;
}

@media all and (max-width: 500px) {
	.grid {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 500px) and (max-width: 500px) {
	.grid {
		-ms-grid-columns: 1fr 10px 1fr;
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 750px) {
	.grid {
		grid-gap: 10px;
	}

	.grid__item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}

	h1 {
		font-size: 22px;
	}
}